{
  "presets": [
    ["es2015", "transform-es2015"]
  ],
  "comments": false,
  "plugins": [
    ["transform-regenerator"],
    ["transform-react-jsx", {"pragma": "m"}]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
