@charset "UTF-8";

// The current fonts used in mediapress
$font-default: 'Open Sans';
$font-heading: 'Roboto';

// All Icons available in FeatherIcons
$icon-activity: 'activity.svg';
$icon-airplay: 'airplay.svg';
$icon-alert-circle: 'alert-circle.svg';
$icon-alert-octagon: 'alert-octagon.svg';
$icon-alert-triangle: 'alert-triangle.svg';
$icon-align-center: 'align-center.svg';
$icon-align-justify: 'align-justify.svg';
$icon-align-left: 'align-left.svg';
$icon-align-right: 'align-right.svg';
$icon-anchor: 'anchor.svg';
$icon-aperture: 'aperture.svg';
$icon-arrow-down: 'arrow-down.svg';
$icon-arrow-down-left: 'arrow-down-left.svg';
$icon-arrow-down-right: 'arrow-down-right.svg';
$icon-arrow-left: 'arrow-left.svg';
$icon-arrow-right: 'arrow-right.svg';
$icon-arrow-up: 'arrow-up.svg';
$icon-arrow-up-left: 'arrow-up-left.svg';
$icon-arrow-up-right: 'arrow-up-right.svg';
$icon-at-sign: 'at-sign.svg';
$icon-award: 'award.svg';
$icon-bar-chart: 'bar-chart.svg';
$icon-bar-chart-2: 'bar-chart-2.svg';
$icon-battery: 'battery.svg';
$icon-battery-charging: 'battery-charging.svg';
$icon-bell: 'bell.svg';
$icon-bell-off: 'bell-off.svg';
$icon-bluetooth: 'bluetooth.svg';
$icon-bold: 'bold.svg';
$icon-book: 'book.svg';
$icon-bookmark: 'bookmark.svg';
$icon-box: 'box.svg';
$icon-briefcase: 'briefcase.svg';
$icon-calendar: 'calendar.svg';
$icon-camera: 'camera.svg';
$icon-camera-off: 'camera-off.svg';
$icon-cast: 'cast.svg';
$icon-check: 'check.svg';
$icon-check-circle: 'check-circle.svg';
$icon-check-square: 'check-square.svg';
$icon-chevron-down: 'chevron-down.svg';
$icon-chevron-left: 'chevron-left.svg';
$icon-chevron-right: 'chevron-right.svg';
$icon-chevrons-down: 'chevrons-down.svg';
$icon-chevrons-left: 'chevrons-left.svg';
$icon-chevrons-right: 'chevrons-right.svg';
$icon-chevrons-up: 'chevrons-up.svg';
$icon-chevron-up: 'chevron-up.svg';
$icon-chrome: 'chrome.svg';
$icon-circle: 'circle.svg';
$icon-clipboard: 'clipboard.svg';
$icon-clock: 'clock.svg';
$icon-cloud: 'cloud.svg';
$icon-cloud-drizzle: 'cloud-drizzle.svg';
$icon-cloud-lightning: 'cloud-lightning.svg';
$icon-cloud-off: 'cloud-off.svg';
$icon-cloud-rain: 'cloud-rain.svg';
$icon-cloud-snow: 'cloud-snow.svg';
$icon-codepen: 'codepen.svg';
$icon-command: 'command.svg';
$icon-compass: 'compass.svg';
$icon-copy: 'copy.svg';
$icon-corner-down-left: 'corner-down-left.svg';
$icon-corner-down-right: 'corner-down-right.svg';
$icon-corner-left-down: 'corner-left-down.svg';
$icon-corner-left-up: 'corner-left-up.svg';
$icon-corner-right-down: 'corner-right-down.svg';
$icon-corner-right-up: 'corner-right-up.svg';
$icon-corner-up-left: 'corner-up-left.svg';
$icon-corner-up-right: 'corner-up-right.svg';
$icon-cpu: 'cpu.svg';
$icon-credit-card: 'credit-card.svg';
$icon-crop: 'crop.svg';
$icon-crosshair: 'crosshair.svg';
$icon-delete: 'delete.svg';
$icon-disc: 'disc.svg';
$icon-download: 'download.svg';
$icon-download-cloud: 'download-cloud.svg';
$icon-droplet: 'droplet.svg';
$icon-edit: 'elements.svg';
$icon-edit-2: 'edit-2.svg';
$icon-edit-3: 'edit-3.svg';
$icon-external-link: 'external-link.svg';
$icon-eye: 'eye.svg';
$icon-eye-off: 'eye-off.svg';
$icon-facebook: 'facebook.svg';
$icon-fast-forward: 'fast-forward.svg';
$icon-feather: 'feather.svg';
$icon-file: 'file.svg';
$icon-file-minus: 'file-minus.svg';
$icon-file-plus: 'file-plus.svg';
$icon-file-text: 'file-text.svg';
$icon-film: 'film.svg';
$icon-filter: 'filter.svg';
$icon-flag: 'flag.svg';
$icon-folder: 'folder.svg';
$icon-github: 'github.svg';
$icon-gitlab: 'gitlab.svg';
$icon-globe: 'globe.svg';
$icon-grid: 'grid.svg';
$icon-hash: 'hash.svg';
$icon-headphones: 'headphones.svg';
$icon-heart: 'heart.svg';
$icon-help-circle: 'help-circle.svg';
$icon-home: 'home.svg';
$icon-image: 'image.svg';
$icon-inbox: 'inbox.svg';
$icon-info: 'info.svg';
$icon-instagram: 'instagram.svg';
$icon-italic: 'italic.svg';
$icon-layers: 'layers.svg';
$icon-layout: 'layout.svg';
$icon-life-buoy: 'life-buoy.svg';
$icon-link: 'link.svg';
$icon-link-2: 'link-2.svg';
$icon-list: 'list.svg';
$icon-loader: 'loader.svg';
$icon-lock: 'lock.svg';
$icon-log-in: 'log-in.svg';
$icon-log-out: 'log-out.svg';
$icon-mail: 'mail.svg';
$icon-map: 'map.svg';
$icon-map-pin: 'map-pin.svg';
$icon-maximize: 'maximize.svg';
$icon-maximize-2: 'maximize-2.svg';
$icon-menu: 'menu.svg';
$icon-message-circle: 'message-circle.svg';
$icon-message-square: 'message-square.svg';
$icon-mic: 'mic.svg';
$icon-mic-off: 'mic-off.svg';
$icon-minimize: 'minimize.svg';
$icon-minimize-2: 'minimize-2.svg';
$icon-minus: 'minus.svg';
$icon-minus-circle: 'minus-circle.svg';
$icon-minus-square: 'minus-square.svg';
$icon-monitor: 'monitor.svg';
$icon-moon: 'moon.svg';
$icon-more-horizontal: 'more-horizontal.svg';
$icon-more-vertical: 'more-vertical.svg';
$icon-move: 'move.svg';
$icon-music: 'music.svg';
$icon-navigation: 'navigation.svg';
$icon-navigation-2: 'navigation-2.svg';
$icon-octagon: 'octagon.svg';
$icon-package: 'package.svg';
$icon-paperclip: 'paperclip.svg';
$icon-pause: 'pause.svg';
$icon-pause-circle: 'pause-circle.svg';
$icon-percent: 'percent.svg';
$icon-phone: 'phone.svg';
$icon-phone-call: 'phone-call.svg';
$icon-phone-forwarded: 'phone-forwarded.svg';
$icon-phone-incoming: 'phone-incoming.svg';
$icon-phone-missed: 'phone-missed.svg';
$icon-phone-off: 'phone-off.svg';
$icon-phone-outgoing: 'phone-outgoing.svg';
$icon-pie-chart: 'pie-chart.svg';
$icon-play: 'play.svg';
$icon-play-circle: 'play-circle.svg';
$icon-plus: 'plus.svg';
$icon-plus-circle: 'plus-circle.svg';
$icon-plus-square: 'plus-square.svg';
$icon-pocket: 'pocket.svg';
$icon-power: 'power.svg';
$icon-printer: 'printer.svg';
$icon-radio: 'radio.svg';
$icon-refresh-ccw: 'refresh-ccw.svg';
$icon-refresh-cw: 'refresh-cw.svg';
$icon-repeat: 'repeat.svg';
$icon-rewind: 'rewind.svg';
$icon-rotate-ccw: 'rotate-ccw.svg';
$icon-rotate-cw: 'rotate-cw.svg';
$icon-save: 'save.svg';
$icon-scissors: 'scissors.svg';
$icon-search: 'search.svg';
$icon-server: 'server.svg';
$icon-settings: 'settings.svg';
$icon-share: 'share.svg';
$icon-share-2: 'share-2.svg';
$icon-shield: 'shield.svg';
$icon-shopping-cart: 'shopping-cart.svg';
$icon-shuffle: 'shuffle.svg';
$icon-sidebar: 'sidebar.svg';
$icon-skip-back: 'skip-back.svg';
$icon-skip-forward: 'skip-forward.svg';
$icon-slack: 'slack.svg';
$icon-slash: 'slash.svg';
$icon-sliders: 'sliders.svg';
$icon-smartphone: 'smartphone.svg';
$icon-speaker: 'speaker.svg';
$icon-square: 'square.svg';
$icon-star: 'star.svg';
$icon-stop-circle: 'stop-circle.svg';
$icon-sun: 'sun.svg';
$icon-sunrise: 'sunrise.svg';
$icon-sunset: 'sunset.svg';
$icon-tablet: 'tablet.svg';
$icon-tag: 'tag.svg';
$icon-target: 'target.svg';
$icon-thermometer: 'thermometer.svg';
$icon-thumbs-down: 'thumbs-down.svg';
$icon-thumbs-up: 'thumbs-up.svg';
$icon-toggle-left: 'toggle-left.svg';
$icon-toggle-right: 'toggle-right.svg';
$icon-trash: 'trash.svg';
$icon-trash-2: 'trash-2.svg';
$icon-trending-down: 'trending-down.svg';
$icon-trending-up: 'trending-up.svg';
$icon-triangle: 'triangle.svg';
$icon-tv: 'tv.svg';
$icon-twitter: 'twitter.svg';
$icon-type: 'type.svg';
$icon-umbrella: 'umbrella.svg';
$icon-underline: 'underline.svg';
$icon-unlock: 'unlock.svg';
$icon-upload: 'upload.svg';
$icon-upload-cloud: 'upload-cloud.svg';
$icon-user: 'user.svg';
$icon-user-check: 'user-check.svg';
$icon-user-minus: 'user-minus.svg';
$icon-user-plus: 'user-plus.svg';
$icon-users: 'users.svg';
$icon-user-x: 'user-x.svg';
$icon-video: 'video.svg';
$icon-video-off: 'video-off.svg';
$icon-voicemail: 'voicemail.svg';
$icon-volume: 'volume.svg';
$icon-volume-1: 'volume-1.svg';
$icon-volume-2: 'volume-2.svg';
$icon-volume-x: 'volume-x.svg';
$icon-watch: 'watch.svg';
$icon-wifi: 'wifi.svg';
$icon-wifi-off: 'wifi-off.svg';
$icon-wind: 'wind.svg';
$icon-x: 'x.svg';
$icon-x-circle: 'x-circle.svg';
$icon-x-square: 'x-square.svg';
$icon-zap: 'zap.svg';
$icon-zoom-in: 'zoom-in.svg';
$icon-zoom-out: 'zoom-out.svg';
$icon-topbar-arrow: 'topbar-arrow.png';
$icon-topbar-move: 'topbar-move.svg';
$icon-topbar-dropdown: 'topbar-dropdown.png';
$icon-topbar-uppercase: 'topbar-uppercase.png';
$icon-topbar-opacity: 'topbar-opacity.png';
$icon-topbar-dotpoint: 'topbar-dotpoint.png';
$icon-topbar-align-center: 'topbar-align-center.svg';
$icon-topbar-align-left: 'topbar-align-left.svg';
$icon-topbar-align-right: 'topbar-align-right.svg';
$icon-colour-picker: 'colour-picker.png';
